
   <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="" {{action "navigate" "index"}}>Iclar</a>

        </div>
        
        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav">
            <li class="active"><a href="" {{ action "navigate" "index"}}>Inicio {{if isDev "(DEV)"}}</a></li>
           
            <li>{{link-to "Versión" "showversion" }}</li>
            
            {{#if session.isAuthenticated}}
              
              <li>{{link-to "Gravatar" "gravatar" }}</li>
            {{else}}
              <li>{{link-to "Acceder" "login"}}</li>
            {{/if}}
            <li><a href="" {{action "navigate" "index"}}>{{usuario}}</a></li>
            <li>{{link-to "Cambia" "changepassword"}}</li>
              <li><a href="" {{ action 'invalidateSession' }}>Abandonar</a></li>
              <li style="color:white"><a><span class="badge badge-info">{{secondsLeft}}</span></a></li>
          
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          {{outlet}}
          {{outlet 'modal'}}
          
        </div><!--/span-->

      </div><!--/row-->

      <hr>

      <footer>
        <p class="text text-center text-danger">&copy; Grupo Iclar 2016</p>
      </footer>

    </div><!--/.container-->
    <br><br>



