
	{{repite-html value=2}}
	<div class="h2">Cambia tu contraseña</div>
	<div class="alert alert-info"><a class="close" data-dismiss="alert" href="#">x</a>
		<div class="h3">Reglas de Contraseña</div>
		<p>1 - Debe contener al menos 1 letra mayúscula.
			<br>2 - Debe contener mínimo 1 digito.
			<br>3 - Debe estar formada por 8 caracteres como mínimo.
		</p>
		<br>
	</div>
	<div class="form-group">
		<label for="password1" class="control-label">Contraseña</label>
		<div class="row">
			<div class="col-xs-10 col-md-3">
				{{input type="password" value=password1 class="form-control" placeholder="Contraseña" id="password1"}}
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="password2" class="control-label">Confirme Contraseña</label>
		<div class="row">
			<div class="col-xs-10 col-md-3">
				{{input type="password" value=password2 class="form-control" placeholder="Confirme Contraseña" id="password2"}}
			</div>
		</div>
	</div>
	{{#if isValid}}
		<div class="btn btn-info" {{action "guardar"}}>Guardar</div>
	{{/if}}
	{{#if huboErrorAlGrabar}}
	

  					{{#modal-bs title="Hubo Error al Generar la Oferta" ok="enteradoHuboErrorAlGrabar" close="enteradoHuboErrorAlGrabar"}}
   						No pudo guardarse la contraseña  
   						<br>
   						<div class="text-danger">
   							{{errorAlGrabar}}	
   						</div>
  					{{/modal-bs}}

	{{/if}}
