<br><br><div class="h3 text text-info">Conteo de Medios Publicitarios</div>
{{#bsz-table titleCols=titleCols}}
	{{#each tablaConteo as |record|}}
		<tr>
			<td data-title="Conteo">
				{{#if features.editable}}
					<a href="#" {{action 'suma' record}}>{{record.conteo}}</a>
				{{else}}
					{{record.conteo}}
				{{/if}}
			</td>
			<td data-title="Descripcion">
				{{record.descripcion}}
			</td>
		</tr>
	{{/each}}
{{/bsz-table}}

{{check-excelemail  hacer=(action (mut emailAddress))}}
{{#if emailAddress}}
<div class="btn btn-info" {{action 'enviar'}}>Enviar</div>
{{/if}}