<br>
<div class="h3 text text-info">Detalle Cobranza</div>
{{#if cargando}}
	<div class=" h5 text text-success">Cargando datos...</div>
{{else}}
	<div class="form-group">
		<label class="control-label">Etapa</label>
		<div class="row">
			<div class="col-md-5">
			{{#x-select value=selectedEtapa action=(action  (mut selectedEtapa)) class="form-control form-control-inline"}}
				{{#x-option value='1'}}Todas{{/x-option}}
				{{#each etapas as |item|}}
					{{#x-option value=item.id}}{{item.nombre}}{{/x-option}}
				{{/each}}
			{{/x-select}}
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label">Tipo</label>
		<div class="row">
			<div class="col-md-5">
			{{#x-select value=selecteTipo action=(action  (mut selectedTipo)) class="form-control form-control-inline"}}
				{{#x-option value='1'}}Escoja Tipo{{/x-option}}
				{{#each tipos as |t|}}
					{{#x-option value=t.valor}}{{t.nombre}}{{/x-option}}
				{{/each}}
			{{/x-select}}
			</div>
		</div>
	</div>
	{{#if tipocobradas}}
		<div class="form-group">
			<label for="datewidget" class="control-label">Fecha Inicial</label>
			<div class="row">
				<div class="col-xs-12 col-md-3">
            	{{bs-datetimepicker date=fechaInicial showClear=true showTodayButton=true format="YYYY/MM/DD" locale="es" updateDate=(action (mut fechaInicial))}}
        		</div>
    		</div>
		</div>

		<div class="form-group">
			<label for="datewidget" class="control-label">Fecha Final</label>
			<div class="row">
				<div class="col-xs-12 col-md-3">
            	{{bs-datetimepicker date=fechaFinal showClear=true showTodayButton=true format="YYYY/MM/DD" locale="es" updateDate=(action (mut fechaFinal))}}
        		</div>
    		</div>
		</div>
	{{/if}}
	{{#if showButton}}
		<div class="btn btn-info" {{action 'pedir'}}>Desplegar Datos</div>
	{{/if}}
	<br><br>
	{{#if totMontoCreditoOk }}
		<div class="form-group">
			<label class="control-label">Total Monto Crédito</label>
			<div class="row">{{input type='text' value=totMontoCredito disabled=true}}</div>
		</div>
	{{/if}}
	{{#if totMontoSubsidioOk}}
		<div class="form-group">
			<label class="control-label">Total Monto Subsidio</label>
			<div class="row">{{input type='text' value=totMontoSubsidio disabled=true}}</div>
		</div>
	{{/if}}
	{{#if totDocumentosOk}}
		<div class="form-group">
			<label class="control-label">Total Documentos</label>
			<div class="row">{{input type='text' value=totDocumentos disabled=true}}</div>
		</div>
	{{/if}}
	{{#if desktopOrJumbo}}
		{{#if showNavigation}}
			<h4 class="text text-danger">Bloque {{resultPage}} de {{resultPages}} ( Total a mostrar {{resultRowCountFormatted}} )</h4>
			{{#if hayPagPrevias}}
				<button class="btn btn-primary" {{action 'mostrarPagPrevia'}}><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Bloque Previo</button>
			{{/if}}
			{{#if hayPagSiguientes}}
				<button class="btn btn-primary" {{action 'mostrarPagSiguiente'}}>Bloque Siguiente&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
			{{/if}}
		{{/if}}
		{{#if mostrarCaracteristicas}}	
	  		{{#modal-bs title="Caracteristicas del inmueble" close="cerrarModal"}}
	  			<div class="h4">Inmueble {{manzanaLoteFormateado}}</div>
	  			{{#each carateristicasLista as |c|}}
	  			<div>{{c.cantidad}} - {{c.descripcion}}</div>
	  			{{/each}}
	  		{{/modal-bs}}

		{{/if}}
	{{else}}
		{{#if showNavigation}}
		<h4 class="text text-danger">Bloque {{resultPage}} de {{resultPages}} ( Total a mostrar {{resultRowCountFormatted}} )</h4>
		{{#if hayPagPrevias}}
			<button class="btn btn-primary" {{action 'mostrarPagPrevia'}}><span class="glyphicon glyphicon-arrow-up"></span>&nbsp;Bloque Previo</button>
		{{/if}}
		<br><br>
		{{#if hayPagSiguientes}}
			<button class="btn btn-primary" {{action 'mostrarPagSiguiente'}}>Bloque Siguiente&nbsp;<span class="glyphicon glyphicon-arrow-down"></span></button>
		{{/if}}
	{{/if}}
	{{#if mostrarCaracteristicas}}	
  		{{#modal-bs title="Caracteristicas del inmueble" close="cerrarModal"}}
  			<div class="h4">Inmueble {{manzanaLoteFormateado}}</div>
  			{{#each carateristicasLista as |c|}}
  			<div>{{c.cantidad}} - {{c.descripcion}}</div>
  			{{/each}}
  		{{/modal-bs}}

	{{/if}}
	{{/if}}
	<br><hr>
	<div id="no-more-tables">
		<table  class="table table-bordered table-striped table-condensed cf">
			<thead>
				<tr>
					<th>Manzana</th>
					<th>Lote</th>
					<th>Fecha</th>
					<th>Fecha Preliberacion</th>
					<th>Nota</th>
					<th>Oferta</th>
					<th>Monto Credito</th>
					<th>Monto Subsidio</th>
					<th>Suman Documentos</th>
					<th>Saldo</th>
					<th>Imss</th>							
				</tr>
			</thead>
			<tbody>
				{{#each inmuebles as |i|}}
				<tr>
					<td data-title="Manzana">
						{{i.manzana}}
					</td>
					<td data-title="Lote">
						{{#if desktopOrJumbo}}
							<a href="" {{action 'muestraCaracteristicas' i}}>{{i.lote}}</a>
						{{else}}
					   		{{i.lote}} <div class="btn btn-info" {{action 'muestraCaracteristicas' i}}>Ver</div>
					    {{/if}}
					</td>
					<td data-title="Fecha">
						{{i.fecha}}
					</td>
					<td data-title="Fecha Preliberacion">
						{{#unless desktopOrJumbo}}<br>{{/unless}} {{i.fechaPreliberacion}}
					</td>
					<td data-title="Nota">
						{{i.nota}}
					</td>
					<td data-title="Oferta">
						{{i.oferta}}
					</td>
					<td data-title="Monto Credito">
						{{#unless desktopOrJumbo}}<br>{{/unless}} {{i.montocredito}}
					</td>
					<td data-title="Monto Subsidio">
						{{#unless desktopOrJumbo}}<br>{{/unless}} {{i.montosubsidio}}
					</td>
					<td data-title="Suman Documentos" class="text-right">
						{{#unless desktopOrJumbo}}<br>{{/unless}} {{i.sumandocumentos}}
					</td>
					<td data-title="Saldo" class="text-right">
						{{i.saldo}}
					</td>
					<td data-title="Imss">
						{{i.imss}}
					</td>
				</tr>
				{{/each}}
		
			</tbody>
		</table>
	</div>
{{/if}}