
<div class="jumbotron">
            <h2>Grupo Iclar</h2>
            <p class="text-info">Calidad en Patrimonio Familiar </p>
            <mark><small >{{if isInIclar '( En Corporativo ) ' '( Remoto ) '}}&nbsp;{{hoyEs}}</small></mark>
            
            <br><br>
            
              {{#with gvCtrlr.content as |gv|}}
                {{#if gv.gravatar}}
                  {{gravatar-image emailhashed=gv.gravatar}}
                {{else}}
                  <div class="text text-info">Sin Gravatar</div>
                {{/if}}
              {{/with}}
            <p class="text text-right">
              {{usuario}} 
              <a href="" {{action 'getOut'}} >
                <span class="glyphicon glyphicon-log-out"></span></a>
              </p>
            <p>
              <img src="/image/logosmall.jpg">
            </p>
</div>

{{#if logoutPrompt}}
  {{#modal-bs title="Que hago o que" ok="logoutConfirmation" close="removeModal"}}
   Abandono la sesión?
   {{!</form>}}
  {{/modal-bs}}
{{/if}}
{{#if desktopOrJumbo}}
<div class="row"> 
  <p class="text-center">
    <div class="col-md-4">
            {{ember-selectize
              content=opcionesMenu
              optionValuePath="content.id"
              optionLabelPath="content.nombre"
              placeholder="Todos"
              value=selectedMenu
            }}
    </div>
  </p>{{link-to 'Configurar Menú' 'ordenarmenu'}}
</div>
{{/if}}
<div class="row">
  <hr id="hrIndex">
</div>
<div class="row">
{{#each menuVisible as |opcion|}}
  <div class="col-6 col-sm-6 col-lg-4">
              <h2>{{opcion.title}}</h2>
              <p>
                  {{opcion.intro}}  
              </p>
              <p>
                {{link-menu consulta=opcion.consulta opcion=opcion.ruta}}
          	  </p>
  </div><!--/span-->
{{/each}}

</div><!--/row-->
