<div class="h3 text text-info">Inmuebles Descuento Detalle</div>
<div class="form-group">
	<label for="idnumerosexteriores" class="control-label">Etapa</label>
	<div class="row">
		<div class="col-md-5">
			{{#x-select value=selectedEtapa action=(action  (mut selectedEtapa)) class="form-control form-control-inline"}}
			{{#x-option value=''}}Elija etapa{{/x-option}}
			{{#each etapas as |item|}}
				{{#x-option value=item.id}}{{item.nombre}}{{/x-option}}
		{{/each}}
	{{/x-select}}
		</div>
	</div>
</div>

<div class="form-group">
	<label for="idnumerosexteriores" class="control-label">Estatus</label>
	<div class="row">
		<div class="col-md-5">
			{{#x-select value=SelectedTipo action=(action  (mut selectedTipo)) class="form-control form-control-inline"}}
			{{#x-option value='1'}}Vendidas Cobradas{{/x-option}}
			{{#each filtroCobradas as |item|}}
				{{#x-option value=item.value}}{{item.label}}{{/x-option}}
		{{/each}}
	{{/x-select}}
		</div>
	</div>
</div>

<div class="form-group">
	<label for="datewidget" class="control-label">Fecha Inicial</label>
	<div class="row">
		<div class="col-xs-10 col-md-3">
			{{bs-datetimepicker date=nullFechaInicial showClear=true showTodayButton=true format="YYYY/MM/DD" locale="es" updateDate=(action (mut fechaInicial))}}
		</div>
	</div>
</div>
<div class="form-group">
	<label for="datewidget" class="control-label">Fecha Final</label>
	<div class="row">
		<div class="col-xs-10 col-md-3">
			{{bs-datetimepicker date=nullFechaFinal showClear=true showTodayButton=true format="YYYY/MM/DD" locale="es" updateDate=(action (mut fechaFinal))}}
		</div>
	</div>
</div>
<div class="btn btn-info" {{action "buscar2"}}>Buscar</div>
<div id="no-more-tables">
	<br><div>Total vendidos etapa <span class="badge">{{totalvendidosporetapa}}</span></div>
	<br>
	<div class="badge">{{cuantos}}</div>
	<br>
	<dl class="dl-horizontal">
    	<dt>Total Precios</dt><dd>{{totprecios}}</dd>
    	<dt>Total Descuentos</dt><dd>{{totdescuentos}}</dd>
    	<dt>Total Subsidios</dt><dd>{{totsubsidios}}</dd>
    </dl>
	{{#if showNavigation}}
		<h4 class="text text-danger">Bloque {{resultPage}} de {{resultPages}} ( Total a mostrar {{resultRowCountFormatted}} )</h4>
		{{#if hayPagPrevias}}
			<button class="btn btn-primary" {{action 'mostrarPagPrevia'}}><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Bloque Previo</button>
		{{/if}}
		{{#if hayPagSiguientes}}
			<button class="btn btn-primary" {{action 'mostrarPagSiguiente'}}>Bloque Siguiente&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
		{{/if}}
	{{/if}}
		<table class="table table-bordered table-striped table-condensed cf">
		<thead>
		<tr>
			<th>Etapa</th>
			<th>Desarrollo</th>
			<th>Manzana</th>
			<th>Lote</th>
			<th>Inmueble</th>
			<th>Fecha</th>
			<th>Precio Base</th>
			<th>Descuento</th>
			<th>Precio Neto</th>
			<th>Subsidio</th>
		</tr>
		</thead>
		<tbody>
			{{#each inmueblesLista as |r|}}
			<tr>
				<td data-title="Etapa">{{r.etapa}}</td>
				<td data-title="Desarrollo">{{r.descripcion}}</td>
				<td data-title="Manzana">{{r.manzana}}</td>
				<td data-title="Lote">{{r.lote}}</td>
				<td data-title="Inmueble">{{r.id}}</td>
				<td data-title="Fecha">{{r.fecha}}</td>
				<td data-title="Precio Base" class="text-right">{{r.preciobase}}</td>
				<td data-title="Descuento" class="text-right">{{r.descuento}}</td>
				<td data-title="Precio Neto" class="text-right">{{r.neto}}</td>
				<td data-title="Subsidio" class="text-right">{{r.subsidio}}</td>

			</tr>
			{{/each}}
		</tbody>
		</table>
	</div>


