<br><br><br>
{{#if errorMessage}}
  <div class="alert alert-danger">
  <a class="close" data-dismiss="alert" href="#">x</a>
  <p>
            <strong>Acceso Denegado : </strong> <code>{{errorMessage}}</code>
  </p>
        
        </div>
{{else}}
<div class="alert alert-info"><a class="close" data-dismiss="alert" href="#">x</a>Ingrese su usuario y contrase&ntilde;a</div>

{{/if}}
{{#liquid-if logoEffect use='toLeft'}}
<img src="/image/logosmall.jpg">
{{/liquid-if}}
<form {{action 'authenticate' on='submit'}}>
        <div class="form-group">
          <label>{{ts}}</label><br>
          <label for="identification">Usuario</label>
          <div class="row">
            <div class="col-xs-10 col-md-4">
            {{input id='identification' placeholder='Digite Usuario' class='form-control' value=identification}}
            </div>{{#if identificationLength}}<span class="badge">{{identificationLength}}</span>{{/if}}
          </div>
        </div>
        <div class="form-group">
          <label for="password">Contrase&ntilde;a</label>
          <div class="row">
            <div class="col-xs-10 col-md-4">
            {{input id='password' placeholder='Digite Contraseña' class='form-control' type='password' value=password}}
            </div>{{#if passwordLength}}<span class="badge">{{passwordLength}}</span>{{/if}}
          </div>
        </div>
        <button type="submit" class="btn btn-primary {{if buttonReady '' 'disabled'}}">Acceder</button>

</form>

