<br/><br/>
<h3>
	<div class="row">
		<span class="{{if socketAbierto 'text-success' 'text-danger'}}">**</span>&nbsp;Oferta de Compra	{{#if reservados}}({{reservados}}){{/if}}
	</div>
</h3>
<br>
{{#liquid-if reservados use="toLeft"}}
	<div class="text-warning">Inmuebles Reservados</div>
	<ul>
		{{#each inmueblesReservados.content  as |reservado|}}
			<li>
				{{reservado.inmueble}}
			</li>
		{{/each}}
	</ul>
{{/liquid-if}}
{{#liquid-if reservadosProspectos use="toLeft"}}
	<div class="text-warning">Prospectos Reservados</div>
	<ul>
		{{#each prospectosReservados.content key="@identity" as |reservado|}}
			<li>
				{{reservado.prospecto}}
			</li>
		{{/each}}
	</ul>
{{/liquid-if}}
{{#if estaEnInmueblesReservados}}	
  {{#modal-bs title="Alguien está usando el mismo inmueble" ok="descartaInmueble" close="descartaInmueble"}}
  	Por ende se va a rechazar el usar éste.
  {{/modal-bs}}

{{/if}}
{{ofertas-recientes store=store etapa=selectedEtapa cuantos=8}}
<form role="form" {{ action "grabar" on="submit"}}>
	<div><a href="" {{action 'traerEmail'}}><span class="glyphicon glyphicon-envelope"></span></a>{{emailaddress}}</div>
	<div class="form-group">
		<label class="control-label">Etapa</label>
		<div class="row">
			<div class="col-md-5">
				{{#x-select value=selectedEtapa action=(action  (mut selectedEtapa)) class="form-control form-control-inline"}}
						{{#x-option value='0'}}Elija Etapa{{/x-option}}
						{{#each etapasofertas as |item|}}
							{{#x-option value=item.id}}{{item.nombre}}{{/x-option}}
					{{/each}}
				{{/x-select}}
			</div>
		</div>
	</div>
	
{{#liquid-if cuantosInmueblesDisponibles use="toRight"}}
	<div class="form-group">
		<label class="control-label">Inmuebles Disponibles</label>
		<div class="row">
			<div class="col-xs-4 col-md-2">
				<p class="form-control-static text text-info">{{cuantosInmueblesDisponibles}}</p>
			</div>
		</div>
	</div>
	<div class="form-group">
			<label class="control-label">Manzana</label>
			<div class="row">
				<div class="col-md-5">
					{{#x-select value=selectedManzana action=(action  (mut selectedManzana)) class="form-control form-control-inline"}}
							{{#x-option value='0'}}Elija Manzana{{/x-option}}
							{{#each manzanasdisponibles as |item|}}
								{{#x-option value=item.manzana}}{{item.manzana}}{{/x-option}}
						{{/each}}
					{{/x-select}}
				</div>
			</div>
		</div>
		{{#if departamento}}
			<div class="form-group">
				<label for="idnumerosexteriores" class="control-label">Numero Exterior</label>
				<div class="row">
					<div class="col-md-5">
						{{#x-select value='0' action="numeroExteriorElegido" class="form-control form-control-inline"}}

		  					{{#x-option value='0'}}Elija Número{{/x-option}}
		  					{{#each numerosExteriores as |item|}}
		  						{{#x-option value=item}}{{item}}{{/x-option}}
							{{/each}}
						{{/x-select}}
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="idnumerosinteriores" class="control-label">Numero Interior</label>
				<div class="row">
					<div class="col-md-5">
						{{#x-select value='0' action="numeroInteriorElegido" class="form-control form-control-inline"}}

		  					{{#x-option value='0'}}Elija Número{{/x-option}}
		  					{{#each numerosInteriores as |item|}}
		  						{{#x-option value=item}}{{item}}{{/x-option}}
							{{/each}}
						{{/x-select}}
					</div>
				</div>
			</div>
		{{/if}}

		<div class="form-group">
				<label class="control-label">Lote</label>
				<div class="row">
					<div class="col-md-5">
						{{#x-select value=selectedInmueble action=(action  (mut selectedInmueble)) class="form-control form-control-inline"}}
  							{{#x-option value='0'}}Elija Lote{{/x-option}}
  							{{#each mislotes as |item|}}
  								{{#x-option value=item.id}}{{item.lote}}{{/x-option}}
							{{/each}}
						{{/x-select}}
					</div>
				</div>
			</div>
		{{#if inmueble}}
			<div class="form-group">
		
				<label for="idofertainmueble" class="control-label">Inmueble</label>
		
				<div class="row">
					<div class="col-xs-4 col-md-6">
						<p class="form-control-static text text-info">{{inmueble}} &nbsp; {{domicilio}}</p>
						<div class="h3 text text-info">El precio es: ${{precioCatalogo}}</div>
						{{#if descuentoCatalogoField}}
							<div class="h3 text text-success">este Inmueble tiene Descuento de hasta ${{descuentoCatalogo}}</div>
						{{/if}}
					</div>
				</div>
		
		</div>
		{{/if}}
		{{#if hayCaracteristicas}}
			<div id="no-more-tables">
				<table class="table table-bordered table-striped table-condensed cf">
					<thead>
					<tr>
						<th>Descripcion</th>
						<th>Cantidad</th>
					</tr>
					</thead>
					<tbody>
					{{#each carateristicasLista as |caracteristica|}}
						<tr>
							<td data-title="Descripcion">{{caracteristica.descripcion}}</td>
							<td data-title="Cantidad" class="text-right">{{caracteristica.cantidad}}</td>
						</tr>
					{{/each}}
					</tbody>
				</table>
			</div>
		{{/if}}
		{{#if candadoPrecio}}
		    <div class="h3 text text-danger">No puedes editar el precio</div>
			<div class="form-group">
				<label class="control-label">Precio</label>
				<div class="row">
					<div class="col-md-5">
						{{#x-select value=selectedPrecio action=(action  (mut selectedPrecio)) class="form-control form-control-inline"}}
  							{{#x-option value='0'}}Elija Precio{{/x-option}}
  							{{#each precioUnico as |item|}}
  								{{#x-option value=item.id}}{{item.precio}}{{/x-option}}
							{{/each}}
						{{/x-select}}
					</div>
				</div>
			</div>

        {{else}} 
			<div class="form-group">
				<label class="control-label">Precio</label>
				<div class="row">
					<div class="col-md-5">
						{{#x-select value=selectedPrecio action=(action  (mut selectedPrecio)) class="form-control form-control-inline"}}
  							{{#x-option value='0'}}Elija Precio{{/x-option}}
  							{{#each misprecios as |item|}}
  								{{#x-option value=item.id}}{{item.precioDescripcion}}{{/x-option}}
							{{/each}}
						{{/x-select}}
					</div>
				</div>
			</div>
		{{/if}}
		{{#liquid-if sumaCheca use="toLeft"}}
			<div class="text-success">Checan totales</div><br>
		{{else}}
			<div class="text-danger">No checan totales</div><br>
		{{/liquid-if}}

	{{else}}
			{{#if selectedEtapa}}
				<div class="form-group">
					<label class="control-label">Obteniendo Inmuebles Disponibles ...</label>
				</div>
			{{/if}}
	{{/liquid-if}}
	<div class="form-group">
				<label class="control-label">Tipo de Cuenta</label>
				<div class="row">
					<div class="col-md-5">
						{{#x-select value=tipoCuenta action=(action  (mut tipoCuenta)) class="form-control form-control-inline"}}
  							{{#x-option value='0'}}Elija Tipo Cuenta{{/x-option}}
  							{{#each tiposcuentas as |item|}}
  								{{#x-option value=item.id}}{{item.tipo}}{{/x-option}}
							{{/each}}
						{{/x-select}}
					</div>
				</div>
			</div>
	{{#if tipoCuentaEsInfonavit}}
		<div class="form-group">
			<label for="iofertaafiliacion" class="control-label">{{labelAfiliacion}}</label>
			<div class="row">
				<div class="col-xs-10 col-md-3">
			{{input type="text" value=afiliacion class="form-control" placeholder="Afiliación al IMSS" maxlength="11" id="idofertaafiliacion"}}
				</div>
				{{#if afiliacionOk}}
					<span class="glyphicon glyphicon-thumbs-up"></span>
				{{else}}	
					<span class="glyphicon glyphicon-thumbs-down"></span>
				{{/if}}
			</div>
			<div class="row"><a href="" {{action 'pegarAfiliacion'}}>Pega Afiliación</a></div>
		</div>
	{{/if}}
		{{#if errorMessage}}
			<br><div class="alert alert-danger">
  				<a class="close" data-dismiss="alert" href="#">x</a>
  					<p>
            			<strong>Operación Inválida : </strong> <code>{{errorMessage}}</code>
  					</p>
        	</div>
		{{/if}}	
		<div class="form-group">
			<label for="idofertaprospecto" class="control-label">{{labelProspecto}}</label>
			<div class="row">
				<div class="col-xs-8 col-md-2">
					{{input type="text" value=prospecto class="form-control" placeholder="Número" maxlength="8" id="idofertaprospecto"}}
				</div>
			</div>
		</div>
		<div>
			{{#each prospectosofertas  as |p|}}
				<div class="text text-info">Prospecto {{p.id}} - {{p.nombre}} </div>
				<div class="text text-info">Vendedor {{p.vendedor}} - {{p.nombrevendedor}} </div>
				<div class="text text-info">Gerente {{p.gerente}} - {{p.nombregerente}} </div>
				<br/>
			{{else}}
				<div class="text text-danger">Prospecto Pendiente</div>
				<br>
			{{/each}}
		</div>
		{{#if errorMessageComision}}
			<div class="alert alert-danger">
  				<a class="close" data-dismiss="alert" href="#">x</a>
  					<p>
            			<strong>Operación Inválida : </strong> <code>{{errorMessageComision}}</code>
  					</p>
        	</div>
        	{{else}}
		{{/if}}
	<div class="form-group">
		
			<label for="idofertacliente" class="control-label">{{labelCliente}}</label>
		
			<div class="row">
				<div class="col-xs-8 col-md-2">
					{{input type="text" value=cliente class="form-control" placeholder="Cliente" maxlength="11" id="idofertacliente"}}
				</div>
				{{#unless hayClientesSinOfertas}}
				    {{#if isProspecto}}
						<a href="" {{action 'buscarClientesSinOfertas'}}><span class="glyphicon glyphicon-search"></span></a>
						{{#link-to 'cliente' ( query-params afiliacion=afiliacion origenOferta=true prospecto=prospecto)}}
							<span class="glyphicon glyphicon-plus"></span>
						{{/link-to }}
					{{/if}}
				{{/unless}}
			</div>
		
	</div>
	{{#if hayClientesSinOfertas}}
		<hr>
		<div class="text text-warning">Búsqueda de Clientes</div>
		<div>
			{{#each clientessinofertas  as |cso|}}
				<div {{action "seleccionarCliente" cso.id}} class="text text-info">Cliente {{cso.id}} - {{cso.nombre}} </div>
			{{/each}}
		</div>
		<br>
		<button class="btn btn-info btn-small" {{action 'cerrarBusquedaCliente' }}>No seleccionar</button>
		<hr>
    {{/if}}
	<div>
		{{#each clientesofertas  as |co|}}
		<div class="text text-info">Cliente {{co.id}} - {{co.nombre}} </div>
			{{#if co.cuenta}}
				<div id="resaltar">Cuidado: este cliente ya está asociado a la cuenta {{co.cuenta}}</div>
			{{/if}}
			<br/>
		{{else}}
			<div class="text text-danger">Cliente Pendiente</div>
			<br>
		{{/each}}
	</div>
	{{#if muestraCamposCapturaAdicionales}}

	<a href="" {{action 'mostrarCamposCapturaAdicionales'}}><span class="glyphicon glyphicon-collapse-up"></span></a>
	<br><br>

    {{#unless tipoCuentaEsContado}}
		<div class="form-group">		
				<label for="idofertamontocredito" class="control-label">{{labelMontocredito}}</label>		
				<div class="row">
					<div class="col-xs-10 col-md-3">
						{{input type="text" value=montocredito class="form-control" placeholder="Monto de Crédito" maxlength="11" id="idofertamontocredito"}}
					</div>				
				</div>
		</div>
	{{/unless}}
	
	<div class="form-group">
		<label class="control-label">Institucion Credito</label>
		<div class="row">
			<div class="col-md-5">
				{{#x-select value=selectedHipotecaria action=(action  (mut selectedHipotecaria)) class="form-control form-control-inline"}}
						{{#each catalogoHipotecarias as |item|}}
							{{#x-option value=item.id}}{{item.descripcion}}{{/x-option}}
					{{/each}}
				{{/x-select}}
			</div>
		</div>
	</div>

	<div class="form-group">
			<label for="idofertagastosadministrativos" class="control-label">Gastos Administrativos</label>
			<div class="row">
				<div class="col-xs-6 col-md-3">
					{{input type="text" value=gastosadministrativos class="form-control" placeholder="Gastos Admin" maxlength="11" id="idofertagastosadministrativos"}}
				</div>
			</div>
	</div>
	<div class="form-group">
		
			<label for="idofertaprecioseguro" class="control-label">Precio Seguro</label>
		
			<div class="row">
				<div class="col-xs-6 col-md-3">
					{{input type="text" value=precioseguro class="form-control" placeholder="Precio Seguro" maxlength="11" id="idofertaprecioseguro"}}
				</div>
				
			</div>
		
	</div>
	<div class="form-group">
		
			<label for="idofertaapartado" class="control-label">Apartado</label>
		
			<div class="row">
				<div class="col-xs-6 col-md-3">
					{{input type="text" value=apartado class="form-control" placeholder="Apartado" maxlength="11" id="idofertaapartado"}}
				</div>
				
			</div>
		
	</div>
	<div class="form-group">
		
			<label for="idofertaanticipocomision" class="control-label">Anticipo Comisión</label>
		
			<div class="row">
				<div class="col-xs-6 col-md-3">
					{{input type="text" value=anticipocomision class="form-control" placeholder="Anticipo" maxlength="11" id="idofertaanticipocomision"}}
				</div>
				
			</div>
		
	</div>
	<div class="form-group">
		
			<label for="idofertareferencia" class="control-label">{{labelReferencia}}</label>
		
			<div class="row">
				<div class="col-xs-6 col-md-3">
					{{input type="text" value=referencia class="form-control" placeholder="Referencia" maxlength="11" id="idofertareferencia"}}
				</div>
				<span class="glyphicon glyphicon-plus" ></span>
				
			</div>
		
	</div>
	<div class="text text-info">El Total cantidades {{conteoSuma}}</div>
	<!--<div class="form-group">
			<label for="idDescuento" class="control-label">Codigo Descuento</label>
			<div class="row">
				<div class="col-xs-8 col-md-3">
					{{input type="text" value=codigoDescuento class="form-control" placeholder="Codigo" maxlength="8" id="idDescuento"}}
				</div>
			</div>
	</div>-->
	{{#if observaCodigoDescuento}}
		{{#if valorDescuento}}
			<div class="text text-info h4">Descuento ${{valorDescuento}}</div>
		{{else}}
			<div class="text text-danger">Este codigo de descuento no corresponde al inmueble o no esta vigente, solicitar un nuevo codigo</div>
		{{/if}}
	{{/if}}
	{{#if descuentoCatalogoField}}
		<div class="form-group">
			<label for="descuentoCatalogo" class="control-label">Descuento</label>
			<div class="row">
				<div class="col-xs-8 col-md-3">
					{{input type="number" min=0 value=totalDescuentoCatalogo class="form-control" placeholder="Descuento" id="descuentoCatalogo"}}
				</div>
			</div>
		</div>
		{{#unless banderaTotalDescuento}}
		<div class="h5 text text-danger">{{messageTotaldescuento}}</div>
		{{/unless}}
	{{/if}}
	<div class="checkbox">
		<label class="h5">
			{{input type="checkbox" name="asignarCheckBox" checked=asignarCheckBox }}Asignar Casa?
		</label>
	</div>
	<div class="form-group">
			<label for="idofertaprecalificacion" class="control-label">Precalificación</label>
			<div class="row">
				<div class="col-xs-8 col-md-3">
					{{input type="text" value=precalificacion class="form-control" placeholder="Precalificación" maxlength="11" id="idofertaprecalificacion"}}
				</div>
			</div>
	</div>
	<div class="form-group">
			<label for="idofertaavaluo" class="control-label">Avalúo</label>
			<div class="row">
				<div class="col-xs-6 col-md-3">
					{{input type="text" value=avaluo class="form-control" placeholder="Avalúo" maxlength="11" id="idofertaavaluo"}}
				</div>
			</div>
	</div>
	{{#unless tipoCuentaEsContado}}
		{{#if showSubsidio}}
		<div class="form-group">
				<label for="idofertasubsidio" class="control-label">Subsidio</label>
				<div class="row">
					<div class="col-xs-6 col-md-3">
						{{input type="text" value=subsidio class="form-control" placeholder="Subsidio" maxlength="11" id="idofertasubsidio"}}
					</div>
				</div>
		</div>
		{{/if}}
	{{/unless}}	
	<div class="form-group">
			<label for="idofertapagare" class="control-label">Pagaré</label>
			<div class="row">
				<div class="col-xs-6 col-md-3">
					{{input type="text" value=pagare class="form-control" placeholder="Pagaré" maxlength="11" id="idofertapagare"}}
				</div>
			</div>
	</div>
	<div class="form-group">
			<label for="idofertaprerecibo" class="control-label">Prerecibo Apartado</label>
			<div class="row">
				<div class="col-xs-6 col-md-3">
					{{input type="text" value=prerecibo class="form-control" placeholder="Prerecibo" maxlength="11" id="idofertaprerecibo"}}
				</div>
			</div>
	</div>
	<div class="form-group">
			<label for="idofertaprereciboadicional" class="control-label">Prerecibo Adicional</label>
			<div class="row">
				<div class="col-xs-6 col-md-3">
					{{input type="text" value=prereciboadicional class="form-control" placeholder="Prerecibo Ad" maxlength="11" id="idofertaprereciboadicional"}}
				</div>
			</div>
	</div>
	{{else}}
	  {{#if hayCamposObligatorios}}
			<a href="" {{action 'mostrarCamposCapturaAdicionales'}}><span class="glyphicon glyphicon-expand"></span></a>
			<br>
	  {{/if}}

	{{/if}}
	<div>
		<hr>
		{{#if isValid}}
			{{#if muestraOpcionesImpresion }}
				<div class="text-info">Oferta Generada: {{ofertaGenerada}}</div>
				<table class="table table-bordered table-striped table-condensed cf">
					<thead>
					<tr>
						<th>Documento</th><th>Copias</th>
					</tr>
					</thead>
					<tbody>
						<tr>
							<td data-title="Documento">Oferta</td>
							<td data-title="Copias">
								<div class="row">
									<div class="col-xs-8 col-md-3">
										{{input type="number" value=copiasOferta min="1" max="3"}}
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td data-title="Documento">Anexo</td>
							<td data-title="Copias">
								<div class="row">
									<div class="col-xs-8 col-md-3">
										{{input type="number" value=copiasAnexo min="1" max="3"}}
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td data-title="Documento">Características</td>
							<td data-title="Copias">
								<div class="row">
									<div class="col-xs-8 col-md-3">
										{{input type="number" value=copiasCaracteristicas min="1" max="3"}}
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td data-title="Documento">Rap</td>
							<td data-title="Copias">
								<div class="row">
									<div class="col-xs-8 col-md-3">
										{{input type="number" value=copiasRap min="1" max="3"}}
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td data-title="Documento">
								<div class="checkbox">
									<label>
										{{input type="checkbox" name="enviarEmail" checked=enviarEmail }}Enviar Correo a {{emailaddress}}
									</label>
								</div>
							</td>
							<td data-title="Copias">
								<div>
								</div>
							</td>
						</tr>
						{{#if enviarEmail}}
							<tr>
							<td data-title="Documento">
								<div class="checkbox">
									<label>
										{{input type="checkbox" name="soloEmail" checked=soloEmail }}Solo Correo
									</label>
								</div>
							</td>
							<td data-title="Copias">
								<div>
								</div>
							</td>
							</tr>
						{{/if}}
						{{#unless soloEmail}}
						{{#each impresoras.content as |impresora indice|}}
							{{#if impresora.elegible }}
							<tr>
							<td data-title="Documento">
								<div>
									<a action href="" {{action 'elegirImpresora' indice }}>
										<span class="glyphicon glyphicon-{{if impresora.chosen 'plus' 'minus'}}"></span>
									</a>
									{{impresora.nombre}}
								</div>
							</td>
							<td data-title="Copias">
								<div>
								</div>
							</td>
							</tr>
							{{/if}}
						{{/each}}
						{{/unless}}	
						
					</tbody>
				</table>
	  			<button class="btn btn-{{if isValid 'success' 'danger'}}" {{action 'imprimir'}}>Imprimir</button>
	  		{{else}}
	  		    {{#unless processingGrabar}}
	  		    	{{#unless featureControl}}
	  				<button class="btn btn-primary" {{action 'grabar' }}>Generar Oferta y Asignación</button>
	  				{{else}}
	  					<div class="h3 text text-danger">Pendiente Generar Oferta</div>
	  				{{/unless}}
	  			{{/unless}}
	  			{{#if huboErrorAlGrabar}}
	

  					{{#modal-bs title="Hubo Error al Generar la Oferta" ok="enteradoHuboErrorAlGrabar"}}
   						No pudo generarse la oferta y la asignación.  
   						<br>
   						<div class="text-danger">
   							{{errorAlGrabar}}	
   						</div>
  					{{/modal-bs}}

				{{/if}}
	  		{{/if}}
		
		{{else}}
			<button class="btn btn-danger" {{action 'revisarErrores'}}>Revisar</button>
			{{#if muestroErrores}}
			
				{{#modal-bs title="Errores antes de poder grabar" close="enteradoInspeccionarErrores"}}
   						<ul>
   							{{#each erroresHabidos.content as |err|}}
   							<li>{{if err.campo err.campo err.variable}}&nbsp;-&nbsp;{{err.mensaje}}</li>
   							{{/each}}
   						</ul>
  				{{/modal-bs}}
			{{/if}} 
		{{/if}}
	</div>
	
</form>




