<div class="h3 text text-info">Pagos de Comisiones</div>
{{#if features.permiso_busqueda}}
<div class="form-group">
	<label for="idpago" class="control-label">Número de Pago</label>
	<div class="row">
		<div class="col-xs-8 col-md-5">
			{{input type="text" value=pago class="form-control" placeholder="Número de pago" id="idpago"}}
		</div>
	</div>
</div>
{{else}}
<div class="label">No. de pago {{pago}}</div>
{{/if}}
{{#if features.permiso_busqueda}}
	<div class="btn btn-info" {{action "buscarPago"}}>Buscar </div>
{{/if}}
{{#if botonRegresaEstadoCuenta}}
	<div class="btn btn-warning" {{action "regresaComisionEstadoCuenta"}}>Regresar a Estado de Cuenta</div>
{{/if}}
{{#if pagoComision}}
	<dl class="dl-horizontal">
    	<dt>ID</dt><dd>{{pagoComision.id}}</dd>
    	<dt>Vendedor</dt><dd>{{nombreVendedor}}{{#if esGerente }}&nbsp;(GTE){{/if}}</dd>
    	<dt>Fecha Reconocimiento</dt><dd>{{pagoComision.fechareconocimiento}}</dd>
    	<dt>Importe</dt><dd>$ {{pagoImporte}}</dd>
    	<dt>Impuesto</dt><dd>$ {{pagoImpuesto}}</dd>
    	<dt>Referencia</dt><dd>{{pagoComision.pagoreferencia}}</dd>
    	<dt>Tipo de Pago</dt><dd>{{pagoComision.pagotipo}}</dd>
    	<dt>Solicitud de Cheque</dt>
    	<dd>{{pagoComision.solicitudcheque}}
    		{{#if features.permiso_busqueda}}
    			<a href="" {{action 'toggleEditable'}}><span class="glyphicon glyphicon-edit"></span></a>
    		{{/if}}
    	</dd>
    	<dt>Estatus solicitud</dt><dd>{{pagoComision.estatusDesc}}</dd>
    	{{#if pagoComision.solicitudcheque }}
    	<dt>Beneficiario</dt><dd>{{solicitudCheque.beneficiario}}</dd>
    	<dt>Fecha Captura</dt><dd>{{solicitudCheque.fechacaptura}}</dd>
    	<dt>Fecha Programada</dt><dd>{{solicitudCheque.fechaprogramada}}</dd>
    	<dt>Concepto</dt><dd>{{solicitudCheque.concepto}}</dd>
    	<dt>Cantidad</dt><dd>{{solicitudCheque.cantidad}}</dd>
    	{{/if}}
	 </dl>
	 {{#unless cantidadesIguales}}
	 	<div class="alert alert-danger">
  			<strong>Advertencia!</strong> la suma de importe mas impuesto no coinciden con la cantidad de la sollicitud
		</div>
	 {{/unless}}
       {{#if editable}}	 
	 	  <div class="form-group">
			<label for="idsolicitud" class="control-label">Solicitud</label>
			<div class="row">
				<div class="col-xs-8 col-md-5">
					{{input type="text" value=nuevaSolicitud class="form-control" placeholder="Número de solicitud" id="idsolicitud"}}
				</div>
			</div>
		  </div>
		  {{#if nuevaSolicitud}}
			<div class="btn btn-info" {{action "editarSolicitud" nuevaSolicitud}}>Actualizar </div>
		  {{/if}}
		{{/if}}
{{/if}}

{{#if mostrarImprimirReporte}}
{{/if}}

{{#if comisionesLista}}
	<div id="no-more-tables">
		<table class="table table-bordered table-striped table-condensed cf">
		<thead>
		<tr>
			<th>Movimiento</th>
			<th>Documento</th>
			<th>Inmueble</th>
			<th>Cuenta</th>
			<th>Etapa</th>
			<th>Manzana</th> 
			<th>Lote</th>
			<th>Cliente</th>
			<th>Importe</th>
			
		</tr>
		</thead>
		<tbody>
		{{#each comisionesLista as |row|}}
			<tr>
				<td data-title="Movimiento"><span class="text-right">{{row.id}}</span></td>
				<td data-title="Documento">{{row.documento}}</td>
				<td data-title="Inmueble">{{row.inmueble}}</td>
				<td data-title="Cuenta">{{row.cuenta}}</td>
				<td data-title="Etapa">{{row.etapaNombre}}</td>
				<td data-title="Manzana">{{row.manzana}}</td>
				<td data-title="Lote">{{row.lote}}</td>
				<td data-title="Cliente">{{row.nombrecliente}}</td>
				<td data-title="Importe" class="text-right">{{row.importe}}</td>
				
			</tr>
		{{/each}}
		</tbody>
		</table>
	</div>
{{/if}}
{{#if levantaModal}}
	{{#modal-bs title="Error Pago" ok="cerrarModal" close="cerrarModal"}}
   				<br><div class="text text-danger">El pago no existe</div>
   				<br>
  			{{/modal-bs}}
{{/if}}