<br>
<div class="h3 text text-info">Solicitudes de Cheque</div>
<div class="form-group">
		<label class="control-label">Etapa</label>
		<div class="row">
			<div class="col-md-5">
			{{#x-select value=selectedEmpresa action=(action  (mut selectedEmpresa)) class="form-control form-control-inline"}}
				{{#x-option value=''}}Todas{{/x-option}}
				{{#each empresas as |item|}}
					{{#x-option value=item.id}}{{item.razonsocial}}{{/x-option}}
				{{/each}}
			{{/x-select}}
			</div>
		</div>
	</div>

<div class="form-group">
	<label for="datewidget" class="control-label">Fecha</label>
	<div class="row">
		<div class="col-xs-10 col-md-3">
			{{bs-datetimepicker date=nullFecha showClear=true showTodayButton=true format="YYYY/MM/DD" locale="es" updateDate=(action (mut fecha))}}
		</div>
	</div>
</div>
{{#unless cargandoDatos}}
<div class="btn btn-info" {{action 'pedir'}}>Mostrar Datos</div>
{{/unless}}
<br><br>
{{hayDatos}}
{{#if cuantos}}
<span class="badge badgeinfo">{{cuantos}}</span>&nbsp;{{fechaDescriptiva}}<br>
	{{#bsz-table titleCols=titleCols}}
		{{#each listaSolicitudes as |record|}}
			{{bsz-row titleCols=titleCols record=record alignments=alignments}}
  		{{/each}}
	{{/bsz-table}}
{{/if}}
